#adminNewProductMain {
  @extend #adminHomeMain;
}

.adminNewProductFormHolder {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newProductFormWhole {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .adminNewProductUploadImageSection {
    display: flex;
    align-items: center;
    justify-content: center;

    input[type=file] {
      margin-left: 9.5rem;
      width: 20rem;
    }
  }

  .adminNewProductFeaturedSection {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    #title ,#price, #description {
      width: 15rem !important;
      width: 100%;
      border: none;
      padding: 1rem;
      background-color: $backgroundWhiteColor;
      box-shadow: $mainBackgroundShadow;
      transition: width 2s;
    }

    #description {
      width: 20rem !important;
    }

    #featured {
      height: 2rem;
      width: 2rem;
      background-color: $backgroundWhiteColor;
      box-shadow: $mainBackgroundShadow;
      appearance: none;
    }

    #featured:checked {
      background-color: $mainBrandColor;
    }

    #title:focus, #price:focus {
      outline: none;
      width: 20rem !important;
    }

    #description:focus {
      outline: none;
      width: 30rem !important;
      @media only screen and (max-width: 1400px) {
          width: 25rem !important;
        }
    }

  }
}