#adminEditProductMain {
  @extend #adminHomeMain;
}

.modal-dialog {
  top: 25%;
}

.modal-content {
  background-color: $backgroundWhiteColor;
  border-radius: 0%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-footer {
  button {
    border-radius: 0%;
  }
}

.modalCloseButton {
  background-color: lighten($color: $mainRedColor, $amount: 30);
}

.updateProductFormWhole {
  @extend .newProductFormWhole;
}

.updateProductDeleteProductButton {
  border-radius: 0%;
  margin-top: 5rem;
}

.adminEditProductImageHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  height: 25rem;
  overflow: hidden;
  margin-bottom: 5rem;
  img {
    object-fit: cover;
    height: 25rem;
    width: auto;
  }
  @media only screen and (max-width: 1400px) {
      max-width: 30rem;
    }
}