#adminNewProductMain {
  @extend #adminHomeMain;
}

.adminNewProductFormHolder {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newProductFormWhole {
  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}