#adminEditProductMain {
  @extend #adminHomeMain;
}

.modal-dialog {
  top: 25%;
}

.modal-content {
  background-color: $backgroundWhiteColor;
  border-radius: 0%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-footer {
  button {
    border-radius: 0%;
  }
}

.modalCloseButton {
  background-color: lighten($color: $mainRedColor, $amount: 30);
}

.updateProductFormWhole {
  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}