$mainBrandColor: #16ecac;
$mainWhiteColor: #1d1d1d;
$mainBlackColor: black;
$mainRedColor: rgb(255, 0, 13);
$backgroundWhiteColor: #f8f9fa;
$fadedBackgroundBlackColor: #16ecacab;
$mainBackgroundShadow: 0px 5px 6px #16ecac45;